
.c-login-page {

    --ion-grid-padding: 2rem;

    &__submit {
        margin-top: 1.5rem;
    }

    ion-item {
        --background-focused: none;
    }

    input {
        outline: none;
    }
}